{% extends "main_form.html" %}
{% load static %}
{% block title %}
    Cart
{% endblock title %}
{% block page %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-8">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'shop' %}">
                    <i class="fa-solid fa-arrow-left"></i> Continue Shopping
                </a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th>
                            <h5>
                                Items: <strong>3</strong>
                            </h5>
                        </th>
                        <th>
                            <h5>
                                Total: <strong>$99</strong>
                            </h5>
                        </th>
                        <th>
                            <a style="float:right;margin:5px"
                               class="btn btn-success"
                               href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-2"></div>
        <br>
        <div class="col-2"></div>
        <div class="col-lg-8">
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2">
                        <strong>Item</strong>
                    </div>
                    <div style="flex:1">
                        <strong>Price</strong>
                    </div>
                    <div style="flex:1">
                        <strong>Quantity</strong>
                    </div>
                    <div style="flex:1">
                        <strong>Total</strong>
                    </div>
                </div>
                <div class="cart-row">
                    <div style="flex:2">
                        <img class="row-image"
                             src="{% static '/images/image_holder.png' %}"
                             alt="image for some reason cannot be displayed">
                    </div>
                    <div style="flex:2">Product 1</div>
                    <div style="flex:1">50$</div>
                    <div style="flex:1">
                        <p class="quantity">2</p>
                        <div class="quantity">
                            <i class="fa-solid fa-caret-up btn btn-outline-dark"></i>
                            <i class="fa-solid fa-caret-down btn btn-outline-dark"></i>
                        </div>
                    </div>
                    <div style="flex:1">100$</div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock page %}
