{% extends "main_form.html" %}
{% load static %}
{% block title %}
    Checkout
{% endblock title %}
{% block page %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-4">
            <div class="box-element" id="form-wrapper">
                <form action="" id="form">
                    <div id="user-info"></div>
                    <div id="shipping-info"></div>
                    <hr/>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box-element"></div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock page %}
