{% extends "main_form.html" %}
{% block title %}
    Shop
{% endblock title %}
{% block page %}
    <h1 class="text-center">
        <span class="badge bg-secondary content-center">Shop</span>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="list-group-item">
                    <li>
                        1 lista
                        <ul>
                            <li>1 podlista</li>
                        </ul>
                        <li>
                            2 punkt
                            <ul>
                                <li>no i podlista</li>
                            </ul>
                        </li>
                    </li>
                </ul>
            </div>
            <div class="col-7">Variable width content</div>
            <div class="col-2">3 of 3</div>
        </div>
    </div>
{% endblock page %}
