{% extends "main_form.html" %}
{% load static %}
{% block title %}
    Shop
{% endblock title %}
{% block page %}
    <h1 class="text-center">
        <span class="badge bg-secondary content-center">Shop</span>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="box-element product"></div>
            </div>
            <div class="col-lg-4">
                <div class="box-element product"></div>
            </div>
            <div class="col-lg-4">
                <div class="box-element product"></div>
            </div>
        </div>
    </div>
{% endblock page %}
