{% extends "main_form.html" %}
{% load static %}
{% block title %}
    Shop
{% endblock title %}
{% block page %}
    <h1 class="text-center">
        <span class="badge bg-secondary content-center">Shop</span>
    </h1>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4">
                    {% if product.image %}
                        <img class="thumbnail"
                             src="{{ product.image_url }}"
                             alt="image for some reason cannot be displayed"/>
                    {% else %}
                        <img class="thumbnail"
                             src="{% static 'images/image_holder.png' %}"
                             alt="image for some reason cannot be displayed"/>
                    {% endif %}
                    <div class="box-element product">
                        <h6>
                            <strong>{{ product.name }}</strong>
                        </h6>
                        <hr/>
                        <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class="btn btn-outline-success" href="#">View</a>
                        <h4 style="display: inline-block;float:right">
                            <strong>{{ product.price|floatformat:2 }}zł</strong>
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock page %}
